.LoginPopUp-contain{

    max-width: 1280px;
    margin: 0 auto;

    .overlay{
        position: relative;
        z-index: 10;
        top: 60px;

    }
}

.LoginPopUp{
    background-color: #fff;
    box-shadow: rgba(#000, 0.25) 0 0 4px;
    padding: 30px 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40vh;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;

    picture {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 350px;
        }        
    }

    button.btn{
        border-radius: 5px;
        font-size: 16px;
        max-width: 250px;
        a{
            font-size: 16px;
            color:inherit;
            font-weight: 300;
        }
    }

    .info {
        button.btn-cfact-ghost{
            max-width: 100%;
            text-decoration: underline;
        }
    }
}